.container-fluid
  .row
    .panel.panel-default
      %h3.panel-heading Messages
      .panel-body#msg-container
    .input-group
      %input.form-control{type: 'text', placeholder: 'Message...'}#msg-input
      %span.input-group-btn
        %button.btn.btn-primary{type: 'submit'}#post-btn
          Post


