.container-fluid
  .row
    .panel.panel-default
      %h3.panel-heading Messages
      .panel-body#msg-container
    .input-group
      %textarea.form-control{required: 'true', placeholder: 'Message...', rows: '1', autofocus: 'true'}#msg-input
      %span.input-group-btn
        %button.btn.btn-primary{type: 'submit'}#post-btn
          Post


