.container-fluid
  .row
    .panel.panel-default
      %h3.panel-heading Messages
      .panel-body#msg-container
    .input-group#msg-input-wrapper
      %textarea.form-control{required: 'true', placeholder: 'Message...', rows: '1', autofocus: 'true'}#msg-input


