.container-fluid#messages-page
  .row
    .panel.panel-default
      .panel-heading 
        %h3.panel-title Messages
      .panel-body#msg-container
    .input-group#msg-input-wrapper
      %textarea.form-control{required: 'true', placeholder: 'Message...', rows: '1', autofocus: 'true'}#msg-input


