#sidebar {
  background-color: purple;
}

#message-pane {
  background-color: red;
}

#msg-container {
  height: 600px;
  overflow: scroll;
}

#msg-input-wrapper {
  width: 100%;
}

#msg-input {
  background-color: white;
  resize: none;
  position: fixed;
}